body {
    --bg: white;
    --headerBg: #55AE3A;
    --textNormal: #222;
    --textTitle: #222;
    --textLink: blue;
    --hr: hsla(0, 0%, 0%, 0.2);
    --sliderBg: #3700B3;
    --sliderColor: white;
  
    background-color: var(--bg);
    font-family: 'Nunito', sans-serif;
    margin: 0;
  }
  
  body.dark {
    -webkit-font-smoothing: antialiased;
  
    --bg: #121212;
    --headerBg: #3700B3;
    --textNormal: rgba(255, 255, 255, 0.88);
    --textTitle: white;
    --textLink: yellow;
    --hr: hsla(0, 0%, 100%, 0.2);
    --sliderBg: #55AE3A;
    --sliderColor: #121212;
  }

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--sliderColor);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--sliderBg);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    color: #2196F3;
    background-color: var(--sliderColor);
  }
  
  input:focus + .slider {
    color: #2196F3;
    box-shadow: 0 0 1px var(--sliderBg);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }